<form  #formResultado ="ngForm">
	<div class="row invoice-info">
        <div class="col-xs-12">
             <p class="lead">Cadastro de Resultados</p>
        </div>
     </div>
	    
	    <div class="form-group" [class.has-success] = "numero.valid && (numero.dirty || numero.touched)"
                    	[class.has-error] = "numero.invalid && (numero.dirty || numero.touched)">
            <label class="control-label sr-only" for="inputSuccess">
            	<i class="fa fa-check"></i> Número
            </label>
            
            <input type="text" class="form-control" id="inputNumber" placeholder="Número"  minlength="4"     required [(ngModel)]="resultado.numeroSorteio" name = "numero" #numero="ngModel"> 
            <span class="help-block" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
            	<i class="fa fa-remove"></i> Número do sorteio deve ter no mínimo 4 caracteres
            </span>

        </div>

        <div class="form-group" [class.has-success] = "loteria.valid && (loteria.dirty || loteria.touched)" 
                    	 [class.has-error] = "loteria.invalid && (loteria.dirty || loteria.touched)">
  			<label for="sel1">Selecione:</label>
 			<select class="form-control" id="sel1" name="loteria" [(ngModel)]="resultado.loteria" #loteria="ngModel" required>
 				<option *ngFor="let lot of loterias">{{lot.nome | uppercase}}</option>
  			</select>
            <span class="help-block" *ngIf="loteria.invalid  && (loteria.dirty || loteria.touched)">
                 <i class="fa fa-remove"></i> Loteria obrigatória
            </span>
		</div>

		<div class="form-group" [class.has-success] = "dezenas.valid && (dezenas.dirty || dezenas.touched)"
                    	[class.has-error] = "dezenas.invalid && (dezenas.dirty || dezenas.touched)">
            <label class="control-label sr-only" for="txtDezenas">
            	<i class="fa fa-check"></i> Número
            </label>
            
            <textarea class="form-control" id="txtDezenas" placeholder="Dezenas" required [(ngModel)]="resultado.dezenas" name = "dezenas" #dezenas="ngModel">
            	
            </textarea> 
            <span class="help-block" *ngIf="dezenas.invalid && (dezenas.dirty || dezenas.touched)">
            	<i class="fa fa-remove"></i> As dezena são obrigatórias
            </span>

        </div>

        <div class="form-group text-center">
     		<input type="submit" class="btn btn-success" (click)="cadastrar()" 
     						value="Cadastrar" [disabled]="!formResultado.form.valid"> 
     		<a [routerLink]="['/resultados']" class="btn btn-default">
       			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
       		</a>
   		</div>

</form>